{% extends 'index.html' %} 
{% block Content %}
  <div id="preview" class="">
    <div>
      <div data-draggable="true" class="bg-dark" style="position: relative; border-radius: 15px;" draggable="false">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
          <section class="mb-10">
            <!-- Jumbotron -->
            <div class="px-4 py-5 px-md-5 text-center text-lg-center">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                      <span>Inicia sesión</span> <br />
                      <span class="text-primary fs-2"></span>
                    </h1>
                    <!-- <p style="color: hsl(217, 10%, 50.8%)"> --> 
                      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis? Dicta facilis sint aliquid ipsum atque? -->
                    <!-- </p> -->
                  </div>
                  <div class="row">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                      <div class="card-body py-5 px-md-5">
                        <!-- FORMULARIO -->
                        <form method="POST" action=""> {% csrf_token %}
                          <!-- Email input -->
                          {{form.as_p}}
                          <hr class="my-2">
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block mb-4" aria-controls="#">Iniciar sesión</button>
                          <p class="content-justify-center">No tienes cuenta? <a href="{% url 'signup' %}">Registrate</a></p>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- Jumbotron -->
          </section>
        </section>
        <!---->
      </div>
    </div>
  </div>
  {% endblock Content %}
