{% extends 'index.html' %} 
{% block Content %}
  <div id="preview" class="">
    <div>
      <div data-draggable="true" class="bg-dark" style="position: relative; border-radius: 15px;" draggable="false">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
          <section class="mb-10">
            <!-- Jumbotron -->
            <div class="px-4 py-5 px-md-5 text-center text-lg-center">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                      <span>Inicia sesión</span> <br />
                      <span class="text-primary fs-2"></span>
                    </h1>
                    <!-- <p style="color: hsl(217, 10%, 50.8%)"> --> 
                      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis? Dicta facilis sint aliquid ipsum atque? -->
                    <!-- </p> -->
                  </div>
                  <div class="row">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                      <div class="card-body py-5 px-md-5">
                        <!-- FORMULARIO -->
                        <form method="POST"> {% csrf_token %}
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" class="form-control active"/>
                            <label class="form-label" for="form3Example3" style="margin-left: 0px">Email</label>
                            <div class="form-notch">
                              <div class="form-notch-leading" style="width: 9px"></div>
                              <div class="form-notch-middle" style="width: 40px"></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>
                          <!-- Password input -->
                          <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" class="form-control active" autocompleted=""/>
                            <label class="form-label" for="form3Example4" style="margin-left: 0px">Contraseña</label>
                            <div class="form-notch">
                              <div class="form-notch-leading" style="width: 9px"></div>
                              <div class="form-notch-middle" style="width: 72.8px"></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block mb-4" aria-controls="#">Iniciar sesión</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- Jumbotron -->
          </section>
        </section>
        <!---->
      </div>
    </div>
  </div>
  {% endblock Content %}
