{% extends 'index.html' %} 
{% block Content %}
  <div id="preview" class="d-flex">
    <div>
      <div data-draggable="true" class="bg-dark justify-content-center rounded-5" style="position: relative;" draggable="false">
        <!---->
        <!---->
        <section draggable="false" class="overflow-hidden pt-0 align-self-center" data-v-271253ee="">
          <section class="mb-4">
            <!-- Jumbotron -->
            <div class="px-4 py-5 px-md-5 text-center text-lg-start">
              <div class="container">
                <div class="row gx-lg-5 align-items-center">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                      <span>Regístrate</span> <br />
                      <span class="text-primary fs-2">y empieza a tomar el control</span>
                    </h1>
                    <!-- <p style="color: hsl(217, 10%, 50.8%)"> --> 
                      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis? Dicta facilis sint aliquid ipsum atque? -->
                    <!-- </p> -->
                  </div>
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                      <div class="card-body py-5 px-md-5">
                        <!-- FORMULARIO -->
                        <form method="POST" action=""> {% csrf_token %}
                          <!-- 2 column grid layout with text inputs for the first and last names -->
                          <div class="row">
                            <div class="col form-outline mb-4 me-3">
                              {{ form.first_name.errors }}
                              <input type="text" id="{{ form.first_name.id_for_label }}" class="form-control active" required /> 
                              <label class="form-label" for="{{form.first_name.id_for_label}}" style="margin-left: 0px" value="{{ form.first_name.value }}">Nombre</label>
                              <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px"></div>
                                <div class="form-notch-middle" style="width: 52.8px"></div>
                                <div class="form-notch-trailing"></div>
                              </div>
                            </div>
                            <div class="col form-outline mb-4">
                              {{ form.last_name.errors }}
                              <input type="text" id="{{ form.last_name.id_for_label }}" class="form-control active" required > 
                              <label class="form-label" for="{{form.last_name.id_for_label}}" style="margin-left: 0px" value="{{ form.last_name.value }}"/>Apellido</label>
                              <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px"></div>
                                <div class="form-notch-middle" style="width: 52.8px"></div>
                                <div class="form-notch-trailing"></div>
                              </div>
                            </div>
                        <div class="form-outline mb-2" >
                          {{ form.username.errors }}
                          <input type="text" id="{{ form.username.id_for_label }}" class="form-control active" required /> 
                          <label class="form-label" for="{{form.username.id_for_label}}" style="margin-left: 0px" value="{{ form.username.value }}">Nombre de usuario</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 114.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                        {% if form.username.help_text %}
                        <small class="text-muted mb-4">{{ form.username.help_text }}</small>
                        {% endif %}
                        <!-- Email input -->
                        <div class="form-outline {% if form.email.help_text %}mb-2{% else %}mb-4{% endif %}">
                          {{ form.email.errors }}
                          <input type="text" id="{{ form.email.id_for_label }}" class="form-control active" required /> 
                          <label class="form-label" for="{{form.email.id_for_label}}" style="margin-left: 0px" value="{{ form.email.value }} ">Email</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 40px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                        {% if form.email.help_text %}
                        <small class="text-muted mb-4">{{ form.email.help_text }}</small>
                        {% endif %}
                        <!-- Password input -->
                        <div class="form-outline mb-2">
                          {{ form.password.errors }}
                          <input type="password" id="{{ form.password1.id_for_label }}" class="form-control active" required /> 
                          <label class="form-label" for="{{form.password1.id_for_label}}" style="margin-left: 0px" value="{{ form.password1.value }} ">Contraseña</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 72.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                        {% if form.password1.help_text %}
                        <small class="text-muted mb-4">{{ form.password1.help_text }}</small>
                        {% endif %}
                        <!-- Second Password input -->
                        <div class="form-outline mb-2">
                          <input type="password" id="{{ form.password2.id_for_label }}" class="form-control active" required /> 
                          <label class="form-label" for="{{form.password2.id_for_label}}" style="margin-left: 0px" value="{{ form.password2.value }}">Verifique su contraseña</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 142.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                        {% if form.password2.help_text %}
                        <small class="text-muted mb-4">{{ form.password2.help_text }}</small>
                        {% endif %}
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4" aria-controls="#" >Registrarse</button>
                        <p class="content-justify-center">Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
                      </div> 
                      {% comment  %}
                      {{ form.as_table }}
                      <button type="submit" class="btn btn-primary btn-block mb-4" aria-controls="#" >Registrarse</button>
                      <p class="content-justify-center">Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
                      {% endcomment %}
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Jumbotron -->
          </section>
        </section>
        <!---->
      </div>
    </div>
  </div>
  {% endblock Content %}
