{% extends 'index.html' %}

{% block Content %}
  <div class="row justify-content-center">
  
    <div class="col-lg-3 col-md-6">
      <!-- Card -->
      <div class="card border border-primary shadow-0 ">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbootstrap.com/img/new/standard/nature/111.webp" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
        <div class="card-body">
          <!-- Card Title -->
          <h5 class="card-title">Card title</h5>
          <!-- Card Text -->
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the
            card's content.
          </p>
          <!-- Card Button -->
          <button type="button" class="btn btn-primary">Button</button>
        </div>
          <!-- Card Footer -->
          <div class="card-footer">2 days ago</div>
        </div>
      </div>
      <!-- Card -->
      
      <div class="col-lg-3 col-md-6">
        
      </div>
      
      <div class="col-lg-3 col-md-6">
        
      </div>
      
      <div class="col-lg-3 col-md-6">
  
      </div>
      
    </div>
{% endblock Content %}